body {
    font-family: Arial, sans-serif;
    background: #cdfadd;

}

table {
    width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0 0 15px rgb(222, 14, 14);
}

th, td {
    border: 1px solid #f4f4f4;
    padding: 10px;
    text-align: center;
}

#loai {
    background: #c878e6;
    color: white;
    font-weight: bold;
}

td[colspan="4"] {
    background: #c985df;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

td[colspan="2"] {
    background: #f9f9f9;
    font-weight: bold;
}
#tbd, #tbhk {
    text-align: center;
    vertical-align: middle;
}