body {
    font-family: Arial, sans-serif;
    background-color: #efe2e2;
    padding: 20px;
}

form {
    width: 400px;
    background: white;
    margin: auto;
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgb(81, 82, 82);
}

h1 ,p{
    text-align: center;
    text-shadow: 2px 2px 2px rgb(226, 132, 164) ;
}

input[type="text"], select, textarea {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    border: 1px;
    border-radius: 5px; 
    box-shadow: 0 0 12px rgb(198, 97, 196);

}

input[type="text"], select {
    width: 160px;
}

textarea {  
    width: 345px;
    height: 150px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69b2e6;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

#btndangky:hover {
    background-color: #3c2c79;
}
